body{
    background-color: #EAF6F6;
}
h1 {
    color:#66BFBF
}

h2{
    color: #66BFBF;
}

h3{
    color: #66BFBF;
}
         
img {
    border-radius: 50%; /* Makes the image circular */
    width: 200px; /* Adjust width as needed */
    height: 200px; /* Adjust height as needed */
    object-fit: cover; /* Ensures the image fits within the circle */
}
hr{
    
    border-style: none;
    border-top-style: dotted;
    border-color:grey ;
    border-width: 5px;
    width: 5%;
}