h1{ color: red; 
    font-size: 200px;
}

/*img {
    background-color: red;
}
*/

/* Class Selector */

.sweets{
    background-color: green;
}
.vanilla-ice-cream{
           background-color: red;
}